@media (min-width: 768px) and (max-width: 1024px) {
	.introductory-metaphor {
		font-size: 25px;
	}
	#welcome {
		top: 35%;
    	left: 85vw;
    	width: 60vw;
	}
	#welcome > h3 {
		font-size: 24px;
	}
	#welcome > h2 {
	    font-size: 35px;
	    margin-left: 40px;
	}
	#typed-text {
		font-size: 40px;
	}
	p {
		margin-left: 65px;
	}
	#others {
	    top: 105%;
	    grid-template-columns: 65% 45%;
	    width: 60%;
	    height: 300px;
	}
	#others > div {
	    height: 90%;
	}
	#others:before {
	    content: "";
	    position: absolute;
	    left: 50%;
	    top: 75%;
	    width: 11.5%;
	    height: 50%;
	    opacity: 0.45;
	}
	#the-journey,
	#projects {
		position: absolute;
		top: 165vh;
		width: 142%;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-33.5%);
	}
	#projects {
	    top: 215vh;
	}
	div.project.project1:after,
	div.project.project2:after,
	div.project.project3:after {
		left: 250px;
	}
	#stack {
		top: 400%;
		width: 142%;
	}
	#contact-me {
		top: 427%;
		width: 142%;
	}
	#visible-contact span {
		display: none;
	}
}