@media (max-width: 480px) {
	.grid-container {
		width: 80vw;
	}
	.introductory-metaphor {
		font-size: 18px;
		width: 150%;
	}
	#welcome {
    	left: 62.5vw;
    	width: 100vw;
    	top: 15%;
    	background: rgba(0, 0, 0, 0.15);
    	backdrop-filter: blur(1px);
	}
	#welcome > h2 {
		font-size: 30px;
		margin-left: auto;
	}
	#typed-text {
		font-size: 32px;
		margin-left: auto;
	}
	p {
		margin-left: 0px;
	}
	#others {
		top: 102.5%;
		width: 120%;
		grid-template-columns: 50% 50%;
	}
	#others > p {
		min-width: 250px;
	}
	#others:before {
		left: 40%;
	    width: 7.5%;
	    height: 40%;
	    top: 67.5%;
	}
	#the-journey,
	#projects {
		top: 155vh;
		width: 155%;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-29%);
	}
	#projects {
		top: 235vh;
	}
	div.project {
    	/*grid-template-columns: 50% 50%;*/
    	width: 97%;
    }
    div.project.project1:after,
	div.project.project2:after,
	div.project.project3:after {
	    left: 12%;
	    font-size: 1.45rem;
	}
	div.project.project2:after{
	    font-size: 1.325rem;
	}
	div.project:before{
	    width: 50px;
	    height: 70px;
	    left: 15px;
	    transform: rotateX(0deg);
	}
	#stack {
		top: 420%;
		width: 155%;
	}
	#contact-me {
		top: 442.5%;
		width: 155%;
	}
	#contact-me > div {
		display: initial;
	}
	#contact-me > div > *{
		padding-bottom: 16px;
	}
	#visible-contact span {
		display: none;
	}
}
@media (min-width: 481px) and (max-width: 767px) {
	.introductory-metaphor {
		font-size: 20px;
	}
	#welcome {
    	left: 90vw;
    	width: 60vw;
	}
	#welcome > h2 {
		font-size: 33px;
		margin-left: 0px;
	}
	#typed-text {
		font-size: 35px;
		margin-left: auto;
	}
	p {
		margin-left: 0px;
	}
	#others {
		top: 115%;
		width: 90%;
	}
	#others > div {
	    height: 90%;
	}
	#others:before {
	    width: 7.5%;
	    height: 40%;
	}
	#the-journey,
	#projects {
		top: 165vh;
		width: 155%;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-32%);
	}
	#projects {
		top: 220vh;
	}
	div.project {
    	grid-template-columns: 47% 53%;
    	width: 97%;
    }
    div.project.project1:after,
	div.project.project2:after,
	div.project.project3:after {
	    left: 21%;
	    font-size: 1.85rem;
	}
	div.project.project2:after{
	    font-size: 1.5rem;
	}
	#stack {
		top: 407%;
		width: 150%;
	}
	#contact-me {
		top: 430%;
		width: 150%;
	}
	#visible-contact span {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.introductory-metaphor {
		font-size: 25px;
	}
	#welcome {
		top: 35%;
    	left: 85vw;
    	width: 60vw;
	}
	#welcome > h3 {
		font-size: 24px;
	}
	#welcome > h2 {
	    font-size: 35px;
	    margin-left: 40px;
	}
	#typed-text {
		font-size: 40px;
	}
	p {
		margin-left: 65px;
	}
	#others {
	    top: 105%;
	    grid-template-columns: 65% 45%;
	    width: 60%;
	    height: 300px;
	}
	#others > div {
	    height: 90%;
	}
	#others:before {
	    content: "";
	    position: absolute;
	    left: 50%;
	    top: 75%;
	    width: 11.5%;
	    height: 50%;
	    opacity: 0.45;
	}
	#the-journey,
	#projects {
		position: absolute;
		top: 165vh;
		width: 142%;
		margin: 0 auto;
		left: 50%;
		transform: translateX(-33.5%);
	}
	#projects {
	    top: 215vh;
	}
	div.project.project1:after,
	div.project.project2:after,
	div.project.project3:after {
		left: 250px;
	}
	#stack {
		top: 400%;
		width: 142%;
	}
	#contact-me {
		top: 427%;
		width: 142%;
	}
	#visible-contact span {
		display: none;
	}
}
@media (min-width: 1025px) and (max-width: 1280px) {
	#welcome {
    	left: 53vw;
	}
	#welcome > h3 {
		font-size: 24px;
	}
	#welcome > h2 {
	    font-size: 35px;
	    margin-left: 40px;
	}
	#typed-text {
		font-size: 43px;
	}
	#others {
	    top: 95%;
	    grid-template-columns: 50% 50%;
	}
	#others:before {
	    content: "";
	    position: absolute;
	    left: 40%;
	    top: 65%;
	    opacity: 0.45;
	}
	#projects {
	    top: 220vh;
	}
	div.project.project1:after,
	div.project.project2:after,
	div.project.project3:after {
		left: 17.5%;
	}
	#stack {
		top: 445%;
	}
	
	#visible-contact span {
		display: none;
	}
	#contact-me {
		top: 477%;
		padding: 20px 30px 20px 30px;
    	display: grid;
    	grid-template-rows: 75% 25%;
    	gap: 0.25em;
	}
}