html, body {
    height: auto;
    margin: 10px;
    overflow-y: scroll;
    font-size: 16px;
}
body::-webkit-scrollbar {
    display: none;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.introductory-metaphor {
    font-family: "Rock Salt", cursive;
    font-weight: 550;
    position: absolute;
    top: 0;
    left: 15vw;
    color: white;
    z-index: 10;
    font-size: 30px;
} 
b{
    font-size: 18px;
}
#welcome {
    position: absolute;
    top: 20%;
    left: 55vw;
    color: white;
    z-index: 10;
    text-align: center;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    width: auto;
    height: auto;
    padding-right: 15px;
}
.grid-container {
  position: fixed;
  top:0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50vw;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  overflow: visible;
  z-index: 30;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease; 
}
.grid-item + .grid-item { margin-left: -8px; }
.grid-container:hover{
    filter: drop-shadow(5px 10px 5px rgba(255, 0, 0, 0.15));
}
.grid-item {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #282828;
  opacity: 0.75;
  transition: transform 0.3s ease, margin 0.3s ease;
}
.grid-item:hover{
    transform: scale(1.1);
    margin: 0;
    cursor: pointer;
    opacity: 0.85;
}
.grid-item a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-1 {
  clip-path: url(#firstItem);
}
.item-2 {
  clip-path: url(#secondItem);
}
.item-3 {
  clip-path: url(#thirdItem);
}
#others {
    position: absolute;
    top: 105%;
    left: 1.5vw;
    z-index: 10;
    text-align: center;
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 0;
    color: white;
    width: 40%;
    height: 300px;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}
#contact-me {
    position: absolute;
    top: 315%;
    z-index: 10;
    width: 97%;
    height: auto;
    background: black;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 20px 50px 20px 50px;
    display: grid;
    grid-template-rows: 75% 25%;
    gap: 0.25em;
}
#contact-me > div {
    grid-row: 1;
    display: grid;
    grid-template-columns: 59% 41%;
    column-gap: 1.5em;
}
#contact-me  > div > p {
    margin: 0;
    grid-column: 1;
    text-align: center;
}
#contact-me p {
    margin: 0;
}
p span {
    display: inline-block;
    width: 1.75em;
}
#line {
    border-top: 2px solid #fff;
    vertical-align: middle;
    margin-left: -0.75em;
}
#visible-contact {
    grid-column: 2;
    text-align: left;
    background: inherit;
    display: grid;
    grid-template-columns: 0.925fr 1fr;
    place-items: center;
}
#visible-contact span {
   display: inline-block;
   border-left: 2px solid #fff;
   height: 1em;
   margin: 0 10px;
}
#contact-me > h3 {
    margin: 0;
    grid-row: 2;
}
#copy-logo {
    font-size: 2em;
    vertical-align: middle;
}
script {
    margin-left: -0.75em;
}
#others > div {
    background: rgba(255, 220, 130, 0.45);
    box-sizing: border-box;
    grid-column: 1;
    clip-path: url(#pic-holder);
    width: 95%;
    height: 100 %;
    padding: 3px;
    border: 1px double #282828;
    opacity: 0.85;
}
#others > div:hover{
    background: lightblue;
    transform: scale(1.04);
    opacity: 1;
}
#others:hover:before {
    background: lightblue;
    opacity: 0.75;
}
#others:before {
    content: "";
    position: absolute;
    left: 35%;
    top:61%;
    width: 7.5%;
    height: 41%;
    background: #282828;
    opacity: 0.45;
}
#others > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
#others > p {
    grid-column: 2;
    margin: 0;
    font-size: 27px;
    display: flex;
    align-items: center;
}
#welcome > h2,
#welcome > h3 {
    margin: 0;
    position: relative;
    opacity: 0.85;
}
p {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  margin-left: 15px;
}

#welcome > h3 {
    font-size: 35px;
}

#welcome > h2 {
    font-size: 45px;
    margin-left: 75px;
}

#the-journey {
    position: absolute;
    top: 155vh;         
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 10;
    width: 90%;
}
#the-journey > h2 {
    position: relative;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0;
    text-decoration: underline double white 1px;
}
#the-journey > p {
    padding: 10px;
    font-size: 18px;
    margin: 0 0 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 10px;
    border-radius: 10px;
}
#the-journey > hr {
    color: #282828;
}
#typed-text {
    margin-left: 105px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    font-size: 50px; 
    display: block;
    letter-spacing: 4px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: max(30%, 330px);
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
#projects {
    position: absolute;
    top: 215%;
    z-index: 40;
    width: 97%;
    height: auto;
    background: white;
    box-sizing: border-box;
    color: white;
    text-align: center;
    padding: 20px 50px 20px 50px;
    display: grid;
    grid-template-rows: 75% 25%;
    gap: 0.25em;
}